.b-r-12 {
    border-radius: 12px;
}

.inmodal .modal-icon {
    font-size: 84px;
    color: #e2e3e3;
}

.text-center {
    text-align: center;
}

.hr-line-dashed {
    border-top: 1px dashed #808080;
    color: #253138;
    background-color: #253138;
    height: 1px;
    margin: 20px 0;
}