<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.smartooth.mapper.DeviceMapper">


    <!-- 회원 장비 정보 입력 -->
	<insert id="insertDeviceInfo" parameterType="co.smartooth.vo.DeviceVO">
		INSERT INTO ST_DEVICE_INFO
			(
				USER_NO
				,USER_ID
				,DEVICE_NM
				,DEVICE_CODE
				,SERIAL_NO
				,MAC_ADDRESS
				,RGST_DT
            )
		VALUES
			(
				#{userNo}
            	,#{userId}
            	,#{deviceNm}
            	,#{deviceCode}
            	,#{serialNo}
            	,#{macAddress}
            	,SYSDATE()
           	) 
	</insert>
    
    
    
</mapper>