<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.smartooth.mapper.UserMapper">
    <cache />


	<!-- 아이디 중복 체크 -->
    <select id="duplicateChkId" resultType="Integer" parameterType="String">
        SELECT COUNT(*)
		  FROM ST_USER
	    WHERE 1=1
		AND USER_ID = #{userId}
    </select>


	<!-- 회원 번호 (회원 번호) 생성 전 SEQ_NO 조회 -->
    <select id="selectUserSeqNo" resultType="Integer">
        SELECT SEQ_NO
		  FROM ST_SEQUENCE
    </select>
    
    
    <!-- 회원 등록 -->
    <insert id="insertUser" parameterType="hashmap">
    	INSERT INTO ST_USER
    	(
    		USER_NO
    		,USER_ID
    		,USER_NM
    		,USER_PWD
    		,USER_TYPE
    		,USER_NICKNAME
    		,USER_BIRTHDAY
    		,USER_COUNTRY
    		,USER_STATE
    		,USER_ADDRESS
    		,USER_TEL_NO
    		,USER_SEX
    		,USER_RGST_DT
    		,PUSH_TOKEN
    		,USER_DELETE_YN
    		,USER_DELETE_DT
    		,LOGIN_DT
    		,LOGIN_CK
    	)
    	VALUES
    	(
    		#{USER_NO}
    		,#{USER_ID}
    		,#{USER_NM}
    		,#{USER_PWD}
    		,#{USER_TYPE}
    		,#{USER_NICKNAME}
    		,#{USER_BIRTHDAY}
    		,#{USER_COUNTRY}
    		,#{USER_STATE}
    		,#{USER_ADDRESS}
    		,#{USER_TEL_NO}
    		,#{USER_SEX}
    		,SYSDATE()
    		,#{PUSH_TOKEN}
    		,'N'
    		,NULL
    		,SYSDATE()
    		,0
   		)
    </insert>
    
    
    
    <!-- 회원 치아 상태 등록 :: 회원 ID, 회원 치아 상태-->
    <insert id="insertUserTeethInfo" parameterType="hashmap">
    	INSERT INTO ST_TEETH_INFO
			(
				USER_NO
				,USER_ID
				,TEETH_STATUS
				,RECORD_DT
			)
		VALUES
			(
				#{USER_NO}
				,#{USER_ID}
				,#{TEETH_STATUS}
				,SYSDATE()
			)
    </insert>
    
    
    <!-- 회원 번호 (회원 번호 생성 후 증가한 SEQ_NO) 업데이트 --> 
    <update id="updateUserSeqNo" parameterType="Integer">
	    UPDATE ST_SEQUENCE
	    SET SEQ_NO =  #{seqNo}
    </update>
    
    
    
    <!-- 회원의 TEETH_STATUS(상태 값) INSERT -->
    <insert id="insertTeethStatus">
		INSERT INTO ST_TEETH_INFO
			(
				USER_NO
				,USER_ID
				,TEETH_STATUS
				,RECORD_DT
			)
		VALUES
			(	NULL,
				NULL,
				NULL,
				SYSDATE()
			) 
    </insert>
    
    

    <!-- 회원 치아 측정 값 INSERT :::: Map형태로 받을 경우 VO의 변수이름이 아닌 파라미터의 네이밍 대로 파라미터를 대입한다 -->
    <insert id="insertTeethMeasureValue" parameterType="hashmap">
    	INSERT INTO ST_TEETH_MEASURE
    	(
    		USER_NO
    		,USER_ID
    		,T01
    		,T02
    		,T03
    		,T04
    		,T05
    		,T06
    		,T07
    		,T08
    		,T09
    		,T10
    		,T11
    		,T12
    		,T13
    		,T14
    		,T15
    		,T16
    		,T17
    		,T18
    		,T19
    		,T20
    		,T21
    		,T22
    		,T23
    		,T24
    		,T25
    		,T26
    		,T27
    		,T28
    		,T29
    		,T30
    		,T31
    		,T32
    		,MEASURE_DT
    	)
    	VALUES
    	(
    		#{USER_NO}
    		,#{USER_ID}
    		,#{T01}
    		,#{T02}
    		,#{T03}
    		,#{T04}
    		,#{T05}
    		,#{T06}
    		,#{T07}
    		,#{T08}
    		,#{T09}
    		,#{T10}
    		,#{T11}
    		,#{T12}
    		,#{T13}
    		,#{T14}
    		,#{T15}
    		,#{T16}
    		,#{T17}
    		,#{T18}
    		,#{T19}
    		,#{T20}
    		,#{T21}
    		,#{T22}
    		,#{T23}
    		,#{T24}
    		,#{T25}
    		,#{T26}
    		,#{T27}
    		,#{T28}
    		,#{T29}
    		,#{T30}
    		,#{T31}
    		,#{T32}
    		,SYSDATE()
   		)
    </insert>
    
    
    <!-- 회원 치아 측정 값 INSERT :::: Map형태로 받을 경우 VO의 변수이름이 아닌 파라미터의 네이밍 대로 파라미터를 대입한다 -->
    <update id="updateTeethMeasureValue" parameterType="Hashmap">
		UPDATE ST_TEETH_MEASURE
		SET  T01  =  #{T01}
			   ,T02 =   #{T02}
			   ,T03 =   #{T03}
			   ,T04 =   #{T04}
			   ,T05 =   #{T05}
			   ,T06 =   #{T06}
			   ,T07 =   #{T07}
			   ,T08 =   #{T08}
			   ,T09 =   #{T09}
			   ,T10 =   #{T10}
			   ,T11 =   #{T11}
               ,T12 =   #{T12}
               ,T13 =   #{T13}
               ,T14 =   #{T14}
               ,T15 =   #{T15}
               ,T16 =   #{T16}
			   ,T17 =   #{T17}
			   ,T18 =   #{T18}
			   ,T19 =   #{T19}
			   ,T20 =   #{T20}
			   ,T21 =   #{T21}
			   ,T22 =   #{T22}
			   ,T23 =   #{T23}
			   ,T24 =   #{T24}
			   ,T25 =   #{T25}
			   ,T26 =   #{T26}
			   ,T27 =   #{T27}
			   ,T28 =   #{T28}
			   ,T29 =   #{T29}
			   ,T30 =   #{T30}
			   ,T31 =   #{T31}
			   ,T32 =   #{T32}
			   ,MEASURE_DT = SYSDATE()
		WHERE 1=1
		AND USER_ID = #{USER_ID}
		<if test=" USER_NO != null and USER_NO != '' ">
			AND USER_NO = #{USER_NO}
   		 </if> 
    </update>
    
    
    <!-- 회원 정보조회 -->
    <select id="selectUserInfo" parameterType="co.smartooth.vo.UserVO" resultType="co.smartooth.vo.UserVO">
         SELECT USER_NO							AS userNo
         			,USER_ID							AS userId
				    ,USER_NM 							AS userNm
				    ,USER_PWD							AS userPwd
				    ,USER_NICKNAME					AS userNickname
				    ,USER_TYPE						AS userType
				    ,USER_BIRTHDAY					AS userBirthday
				    ,USER_COUNTRY					AS userCountry
				    ,USER_STATE						AS userState
				    ,USER_ADDRESS					AS userAddress
				    ,USER_TEL_NO						AS userTelNo
				    ,USER_SEX							AS userSex
				    ,USER_RGST_DT 					AS userRgstDt
				    ,PUSH_TOKEN 						AS pushToken
				    ,USER_DELETE_YN				AS userDeleteYn
				    ,USER_DELETE_DT				AS userDeleteDt
				    ,LOGIN_DT 							AS loginDt
				    ,LOGIN_CK 							AS loginCk
		FROM ST_USER
		WHERE 1=1
		<if test="userId != null and userId != '' ">
			AND USER_ID = #{userId}
   		 </if> 
		<if test="userAuthToken != null and userAuthToken != '' ">
			AND USER_AUTH_TOKEN = #{userAuthToken}
   		 </if> 
    </select>
    
    
    
    
    
    
    
<!--		아이디 중복 체크 -->
<!--		<select id="selectTeethMeasureValueByDate" resultType="Integer" parameterType="Hashmap"> -->
<!--			SELECT COUNT(*) -->
<!--			  FROM ST_TEETH_MEASURE -->
<!--		 	 WHERE 1=1 -->
<!--				 AND USER_ID = #{USER_ID} -->
<!--			<if test="USER_NO != null and USER_NO != '' "> -->
<!--				AND USER_NO = #{USER_NO} -->
<!--			</if> -->
<!--				AND DATE(MEASURE_DT) = #{MEASURE_DT} -->
<!--     	</select> -->
    
    

<!--     <select id="selectUserCnt" resultType="Integer"> -->
<!--         SELECT COUNT(*) FROM ST_USER -->
<!--     </select> -->



<!--     회원 정보 업데이트 (실질적인 Parameter를 받아 회원정보를 업데이트 한다 - 회원가입) -->
<!--     <update id="updateUser" parameterType="hashmap"> -->
<!-- 		UPDATE ST_USER -->
<!-- 		SET  USER_NO = #{USER_NO} -->
<!-- 			   ,USER_PWD = #{USER_PWD} -->
<!-- 			   ,USER_TYPE = #{USER_TYPE} -->
<!-- 			   ,USER_NM = #{USER_NM} -->
<!-- 			   ,USER_NICKNAME = #{USER_NICKNAME} -->
<!-- 			   ,USER_BIRTHDAY = #{USER_BIRTHDAY} -->
<!-- 			   ,USER_COUNTRY = #{USER_COUNTRY} -->
<!-- 			   ,USER_STATE = #{USER_STATE} -->
<!-- 			   ,USER_ADDRESS = #{USER_ADDRESS} -->
<!-- 			   ,USER_TEL_NO = #{USER_TEL_NO} -->
<!-- 			   ,USER_SEX = #{USER_SEX} -->
<!-- 			   ,USER_RGST_DT = SYSDATE() -->
<!-- 			   ,PUSH_TOKEN = #{PUSH_TOKEN} -->
<!-- 		WHERE 1=1 -->
<!-- 		AND USER_ID = #{USER_ID} -->
<!--     </update> -->


    
<!--     <resultMap type="co.smartooth.dto.UserDto" id="selectUserList"> -->
<!--         <result property="userNo" column="USER_NO"/> -->
<!--         <result property="userId" column="USER_ID"/> -->
<!--         <result property="userNm" column="USER_NAME"/> -->
<!--         <result property="userPwd" column="USER_PWD"/> -->
<!--         <result property="userNickname" column="USER_NICKNAME"/> -->
<!--         <result property="birthDay" column="BIRTHDAY"/> -->
<!--         <result property="sex" column="SEX"/> -->
<!--         <result property="email" column="EMAIL"/> -->
<!--         <result property="emailYn" column="EMAIL_YN"/> -->
<!--         <result property="telNum" column="TEL_NUM"/> -->
<!--         <result property="deleteYn" column="DELETE_YN"/> -->
<!--         <result property="deleteDt" column="DELETE_DT"/> -->
<!--         <result property="loginCk" column="LOGIN_CK"/> -->
<!--         <result property="rgstDt" column="RGST_DT"/> -->
<!--     </resultMap> -->
	
	
	<delete id="deleteUser" parameterType="String">
		DELETE FROM ST_USER
		WHERE 1=1
		AND USER_ID = #{userId}
	</delete>







</mapper>